/* Root styles */
.root {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 100%;
  padding-top: 5vh;
  padding-left: 3vw;
  padding-right: 3vw;
  caret-color: transparent;
  background-color: #f5f5f5;
  position: relative;
  /* Define variables */
  --border-radius: 10px;
  --border-color: #c2c6e8;
  --padding-vertical-size: 10px;
  --padding-horizontal-size: 20px;
  --button-color: #dfe6fe;
  --space-between-btns: 10px;
  --dropdown-text-color: #54577a;
  --search-text-color: black;
  --search-bg-color: #f5f5f5;
  --divider-color: #dfe1f3;
  --checkbox-bcolor: #c5c6cc;
  --background-color: #ffffff;
}

/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  padding: 40px 35px;
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
  height: 100%;
}

/* Top bar styles */
.topBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

/* Dropdown styles */
.dropdowns {
  display: flex;
  flex-direction: row;
  color: var(--dropdown-text-color);
}

/* Search Input styles */
.searchInput {
  background-color: var(--search-bg-color);
  border-radius: var(--border-radius);
  padding: var(--padding-vertical-size) var(--padding-horizontal-size);
  margin-right: var(--space-between-btns);
  caret-color: auto;
}

.searchInput::placeholder {
  color: var(--search-text-color);
}

.searchInput {
  padding-left: 50px;
  background-image: url("../../../../public/search.svg");
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 7%;
}

/* actionButtons styles */
.actionButtons {
  display: flex;
  justify-content: right;
  caret-color: transparent;
  width: 100%;
}

/* New Listing styles */
.newListingButton {
  background-color: var(--button-color);
  border-radius: var(--border-radius);
  padding: var(--padding-vertical-size) var(--padding-horizontal-size);
  font-weight: 600;
}

/* Content styles */
.content {
  display: grid;
  grid-template-columns: auto 1fr 4fr 4fr 4fr 4fr 1fr 1fr;
  grid-template-columns: repeat(8, 1fr);
  grid-template-columns: 6vw 6vw 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 25px;
  font-weight: 600;
}

/* Divider style */
.divider {
  border-bottom: 2.25px solid var(--divider-color);
}

/* Checkbox styles */
.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid var(--checkbox-bcolor);
  border-radius: 5px;
  width: 20px;
  height: 20px;
  flex: 0 0 auto;
}

/* Checkbox when checked */
.checkbox:checked {
  background-color: #3d53db;
  border-color: #3d53db;
}

.overlay {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

/* Styles for screens with at and above 2000px */
@media (min-width: 2000px) {
  /* Root styles */
  .root {
    /* Define variables */
    --padding-vertical-size: 20px;
    --padding-horizontal-size: 40px;
    --space-between-btns: 15px;
    font-size: 1.5em;
  }

  /* Checkbox styles */
  .checkbox {
    border: 2px solid var(--checkbox-bcolor);
    width: 30px;
    height: 30px;
  }
}

/* Styles for screens at and below 1320px */
@media (max-width: 1320px) {
  /* searchInput styles */
  .searchInput {
    width: 40%;
    padding-left: 40px;
    background-position: 10px center;
    background-size: 2vw;
  }
}

/* Styles for screens at and below 1024px */
@media (max-width: 1024px) {
  /* topBar styles */
  .topBar {
    flex-direction: column;
  }

  /* searchInput styles */
  .searchInput {
    width: 60%;
  }

  /* dropdowns styles */
  .dropdowns {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  /* actionButtons styles */
  .actionButtons {
    width: 100%;
    justify-content: space-between;
  }
}

/* Styles for screens at and below 768px */
@media (max-width: 768px) {
  /* content styles */
  .content {
    grid-template-columns: repeat(8, 1fr);
  }
}
